src/main/app/tcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<byte-array-to-object-transformer
		name="bytearraytoobject" returnClass="User" />
	<flow name="tcp-server-Flow">
		<tcp:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="5000" responseTimeout="10000" doc:name="TCP"
			responseTransformer-refs="bytearraytoobject" transformer-refs="bytearraytoobject" />
		<logger level="INFO" message="#[payload]" category="tcpserver" />
		<component doc:name="Java" class="TcpServer" />
	</flow>
</mule>
